<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.mindtree</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewProduct</display-name>
    <servlet-name>InsertNewProduct</servlet-name>
    <servlet-class>com.mindtree.servlet.InsertNewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewProduct</servlet-name>
    <url-pattern>/InsertNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveProducts</display-name>
    <servlet-name>RetrieveProducts</servlet-name>
    <servlet-class>com.mindtree.servlet.RetrieveProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveProducts</servlet-name>
    <url-pattern>/RetrieveProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProduct</display-name>
    <servlet-name>BuyProduct</servlet-name>
    <servlet-class>com.mindtree.servlet.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProduct</servlet-name>
    <url-pattern>/BuyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveProductsAccordingToRange</display-name>
    <servlet-name>RetrieveProductsAccordingToRange</servlet-name>
    <servlet-class>com.mindtree.servlet.RetrieveProductsAccordingToRange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveProductsAccordingToRange</servlet-name>
    <url-pattern>/RetrieveProductsAccordingToRange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveProductsAccordingToCategory</display-name>
    <servlet-name>RetrieveProductsAccordingToCategory</servlet-name>
    <servlet-class>com.mindtree.servlet.RetrieveProductsAccordingToCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveProductsAccordingToCategory</servlet-name>
    <url-pattern>/RetrieveProductsAccordingToCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.mindtree.servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hjgasd</display-name>
    <servlet-name>hjgasd</servlet-name>
    <servlet-class>com.mindtree.servlet.hjgasd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hjgasd</servlet-name>
    <url-pattern>/hjgasd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.mindtree.servlet.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.mindtree.authorization.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/webapi/*</url-pattern>
  </filter-mapping>
</web-app>